---
import { Image } from "astro:assets";

interface Props {
  title: string;
  body: string;
  href: string;
  src?: string;
  hover?: string;
  transitionName?: string;
}

const { href, title, body, src, hover, transitionName } = Astro.props;
---

<div aria-label="Proyecto"
  class=`col-span-1 px-1 py-3 bg-[#00030a]/30 rounded-md border-solid border-2 border-zinc-400 text-zinc-300 transition-all ${hover}`
>
  <a id="Proyecto" href={href}>
    <div class=`h-auto justify-center flex mb-4 mx-2 md:h-60 rounded-md `>
      <img
        transition:name={transitionName}
        src={src}
        width="800"
        height="400"
        alt={title}
        class="rounded-md mb-6 w-full h-auto object-cover"
      />
    </div>
    <div class="text-md">
      <h2 class=`text-center text-lg font-bold mb-3 `>
        {title}
      </h2>
      <p class="zinc-400">
        {body}
      </p>
    </div>
  </a>
</div>
