---
interface Props {
	title: string;
	body: string;
	href: string;
	src?: string;
	color: string;
}

const { href, title, body, src, color } = Astro.props;
---

<div class=`col-span-2 py-6 rounded-2xl text-white bg-#[${color}]`>
	<a href={href}>
		<div class=`w-full rounded-2xl bg-[#101010] mb-6`>
			<picture class="">
				<img src={src} alt="">
			</picture>
		</div>
		<div class="text-md">
			<h2 class=`text-center text-lg font-bold mb-3`>
				{title}
			</h2>
			<p>
				{body}
			</p>

		</div>
	</a>
</div>

