---
interface Props {
	title: string;
	body: string;
	href: string;
	src?: string;
	hover?: string;
}

const { href, title, body, src, hover } = Astro.props;
---

<div class=`col-span-1 px-1 py-2 bg-secondary-blue  rounded-2xl border-solid border-zinc-200 text-zinc-400 transition-all ${hover}`>
	<a href={href}>
		<div class=`h-40 mb-4 mx-2 md:h-60 rounded-2xl bg-[#101010]`>
			<picture class="contain h-full w-full overflow-hidden rounded-2xl">
				<img src={src} alt="">
			</picture>
		</div>
		<div class="text-md">
			<h2 class=`text-center text-lg font-bold mb-3 `>
				{title}
			</h2>
			<p>
				{body}
			</p>

		</div>
	</a>
</div>

